*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    background: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    background-image: url(/assets/portada-cafe.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 100%;
    padding: 15px;
}

.formulario {
    box-shadow: 0 0 30px 0 #b85c38;
    background: #2D2424;
    color: white;
    margin-top: 150px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 62px;
    font-family: 'Tangerine', cursive;
}

.input-container {
    width: 100%;
    color: white;
    padding: .7em; 
    border-bottom: 1px solid #e0c09793;
}

.input1, .input2, .input3, .input4 {
    color: white;
    width: 70%;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.button {
    border: none;
    width: 70%;
    color:black ;
    font-size: 20px;
    background:#E0C097;
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    background: black;
    transition: all 0.3s;
    color: white;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color:#E0C097 ;
    font-weight: 600;
}

.link:hover{
    color: #B85C38;
}

@media (min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }

}